<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <p>Welcome to homepage</p>
    <%- include('./partials/script') %>
</body>
</html>